.agignore
.dockerignore
.env*
.eslintrc
.git
.gitignore
.rspec
.rubocop*
.simplecov
Capfile
Guardfile
README.md
app/assets/javascripts/development
app/assets/javascripts/development.js
ansible
bin/dev
chef
circle.yml
config/*.docker.yml
config/*development*
config/*example*
config/couchdb.yml
config/deploy*
config/environments/development.rb
config/environments/test.rb
config/mailstrom.yml
config/redis.yml
config/resque-pool.yml
config/mailstrom_secrets.yml
config/statsd.yml
config/symmetric-encryption.yml
config/unicorn.yml
d
doc
docker*
script/experiments
spec
test
